/* Gruvbox theme for SwayNC */

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: #3c3836;
}

.notification-row {
  outline: none;
}

.notification {
  border-radius: 5px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.notification-content {
  background: #282828;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d79921;
}

.close-button {
  background: #504945;
  color: #ebdbb2;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: #665c54;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: #282828;
  border: none;
  color: #ebdbb2;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  background: #3c3836;
}

.notification-default-action {
  border-radius: 5px;
}

.notification-action {
  border-radius: 5px;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 5px;
}

.notification-action:last-child {
  border-bottom-right-radius: 5px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: #3c3836;
  color: #ebdbb2;
  caret-color: #ebdbb2;
  border: 1px solid #504945;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: #504945;
  border: 1px solid #504945;
  border-radius: 5px;
  color: #ebdbb2;
}

.inline-reply-button:disabled {
  background: initial;
  color: #928374;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: #665c54;
}

.body-image {
  margin-top: 6px;
  background-color: #ebdbb2;
  border-radius: 5px;
}

.summary {
  font-size: 13px;
  font-weight: 700;
  background: transparent;
  color: #ebdbb2;
  text-shadow: none;
}

.time {
  font-size: 10px;
  font-weight: 400;
  background: transparent;
  color: #a89984;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 11px;
  font-weight: 400;
  background: transparent;
  color: #ebdbb2;
  text-shadow: none;
}

.control-center {
  background: #282828;
  border: 2px solid #d79921;
  border-radius: 5px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.25);
}

.widget-title {
  color: #ebdbb2;
  background: #282828;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 5px;
}

.widget-title > button {
  font-size: initial;
  color: #ebdbb2;
  text-shadow: none;
  background: #504945;
  border: none;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title > button:hover {
  background: #665c54;
}

.widget-dnd {
  background: #282828;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: #ebdbb2;
}

.widget-dnd > switch {
  border-radius: 5px;
  background: #504945;
}

.widget-dnd > switch:checked {
  background: #98971a;
}

.widget-dnd > switch slider {
  background: #ebdbb2;
  border-radius: 5px;
}

/* Urgency styles */
.low {
  border-color: #928374;
}

.low .summary,
.low .body {
  color: #a89984;
}

.normal {
  border-color: #d79921;
}

.critical {
  border-color: #cc241d;
}

.critical .summary,
.critical .body {
  color: #fb4934;
}
