[submodule "config.symlink/base16-shell"]
	path = config.symlink/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git@github.com:gmarik/Vundle.vim.git
