# Sway configuration for SDDM greeter display server.
xwayland disable
swaybg_command -

bindsym Mod4+shift+e exec swaynag \
        -t warning \
        -m 'What do you want to do?' \
        -b 'Poweroff' 'systemctl poweroff' \
        -b 'Reboot' 'systemctl reboot'

# Disable displays on idle
exec command -v swayidle >/dev/null && swayidle -w \
        timeout 300 'swaymsg "output * power off"' \
             resume 'swaymsg "output * power on"'

# Apply system keyboard configuration
exec /usr/libexec/sway-systemd/locale1-xkb-config

# Show sddm-greeter as fullscreen
for_window [app_id="sddm-greeter"] fullscreen enable
