* {
    font-family: "VictorMono Nerd Font Propo";
    font-size: 11.5pt;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: #232136;
    color: #e0def4;
}

#waybar > box {
    padding: 2px 0;
}

#workspaces button {
    padding: 4px 8px;
    background: #232136;
    color: #6e6a86;
    border: none;
}

#workspaces button.visible {
    background: #393552;
    color: #e0def4;
}

#workspaces button.focused {
    background: #c4a7e7;
    color: #232136;
}

#workspaces button.urgent {
    background: #eb6f92;
    color: #232136;
}

#mode {
    background: #f6c177;
    color: #232136;
    padding: 0 8px;
}

#clock {
    color: #e0def4;
}

#tray {
    padding: 0 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #eb6f92;
}

#custom-dotfiles.dirty {
    color: #f6c177;
    padding: 0 8px;
}
