[user]
  email = dev@peterczibik.com
  name = Peter Czibik
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  attributesfile = ~/.gitattributes
[push]
  default = current
[merge]
  tool = vimdiff
[diff]
  tool = difftastic
  external = difft
[difftool]
  promt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[pull]
	rebase = true
[include]
  path = ~/.gitconfig-local
[alias]
  quick = !git commit --amend --no-verify --no-edit && git push --force-with-lease
